.pagenation{
    margin:10px;
}
.pagenation button {
    margin:0px;
    padding:5px 20px;
    border:none

}
.pagenation .selected{
    background-color:skyblue;
    color:black;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
    
}
button.orderButton.border-0.p-2.rounded {
    color: black;
    background: #faaf00;
    
}
.verifyEmail{
    text-align: center;
    margin: 50px auto;
    background-color: rgb(21, 148, 106);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    color:yellow
    

}
/* card hide show icons */
i.fas.fa-arrow-circle-right,i.fas.fa-arrow-circle-left  {
    width: 100%;
    font-size: 26px;
}

#worrning{
    color: rgb(248, 19, 19);
    padding: 10px;
}
.clickHare{
    color:royalblue;
    margin: 5px;
}

/* search box design */
.searchContainesCls{
    width:100% !important;
    margin: 0 auto;
    background-color: rgb(221, 214, 214);
    overflow: hidden;
    
}
.searchBox{
    position: relative;
    width: 65px;
    height:50px;
    display: flex;
    transition: all 0.5s;
}
.searchBox:hover{
    width:250px !important;
}
.searchBox::before{
    content: "";
    position: absolute;
    top:0;
    left: 0px;
    width: 10px;
    height: 100%;
    background: rgb(8, 10, 49);
    z-index: 1;
    filter: blur(1px);
}
.searchBox::after{
    content: "";
    position: absolute;
    top:0;
    right: -1px;
    width: 10px;
    height: 100%;
    background: #9d9d9d;
    z-index: 1;
    filter: blur(1px);
}

.shadow{
    position: absolute;
    top: 0;
    left:-50px;
    overflow: hidden;
    width:calc(100% +50px);
    height:300px;
    background:linear-gradient(180deg,rgba(0,0,0,0.1),transparent,transparent);
    transform-origin: top;
    transform:skew(45deg);
    pointer-events: none;
}
.shadow::before{
    content: '';
    position: absolute;
    width:50px;
    height: 50px;
    background:#cfd1e1;
    z-index: 1
}
.searchBox input{
    font-family: 'Poppins', sans-serif;
    position: relative;
    width:100%;
    height:100%;
    border:none;
    padding:10px 25px;
    outline: none;
    font-size: 1.1em;
    color:#555;
    background: linear-gradient(#dbdae1,#a3aaba);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
     15px 15px 15px rgba(0,0,0,0.1),
     20px 20px 15px rgba(0,0,0,0.1),
     30px 30px 15px rgba(0,0,0,0.1),
     inset 1px 1px 2px #fff

}
.searchBox input::placeholder,.searchBox input{
    color:transparent
}
.searchBox:hover input::placeholder,.searchBox:hover input{
    color:#555
}
ion-icon{
    position:absolute;
    right: 20px;
    color: #555;
    font-size:1.5em;
    top:15px;
    background:rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.1),
    20px 20px 15px rgba(0,0,0,0.1),
    30px 30px 15px rgba(0,0,0,0.1),
    inset 1px 1px 2px #fff;
    cursor: pointer;
}